
/*°¢Áº²©¿ÍCss ÍøÖ·:http://aliang.zjxyk.com/ QQ:41864438 ÁªÏµÈË£º°¢Áº*/
.cc{clear:both;height:0;font-size:1px;line-height:0px;}
*{padding:0px; margin:0px;}
.inputys{border:0px;color:#FFFFFF; width:1px;}
body{ background-color:#9AE4E8; font-size:12px; font-family:"ËÎÌå";}
ul li{list-style-type: none;display:inline;}
hr{width:98%;margin:0; padding:0;border:0;border-top:1px dashed #ccc;height:0; line-height:0; overflow:hidden;}
.Aliang_zhengti{ margin:auto; width:800px; height:auto; }
.Aliang_head{width:800px;float:left; height:35px; text-align:left;background-image:url(../ZiLiang_images/head.gif);}
.Aliang_head li{float:left; text-align:left; line-height:35px; margin-left:5px; color:#cccccc; }
.Aliang_head a{color:#2397D2;text-decoration: none;}
.Aliang_head a:hover{text-decoration: underline;color:#2397D2;}
.Aliang_head_left{float:left;width:540px;}
.Aliang_head_right{float:right;width:250px;text-align:right;}
.Aliang_head2{width:800px;float:left; text-align:left; margin:auto;}
.Aliang_head2 h1{font-size:25px; color:#0082CB; line-height:60px;}
.Aliang_content{width:800px; float:left;height:auto; background-image:url(../ZiLiang_images/contnet_bg.gif);}
.Aliang_content_left{width:590px; float:left; height:100%; padding-bottom:10px;}
.Aliang_content_left p{line-height:30px; font-size:13px; color:#333333; text-align:left;}
.Aliang_content_left ul li{ width:590px; float:left;text-align:left;  padding-left:5px;}
.Aliang_content_left strong{ font-size:14px; line-height:25px; color:#6EAFD5;}
.Aliang_content_left span{color:#666666; line-height:180%; word-wrap:break-word;text-overflow:ellipsis;table-layout:fixed;}
.Aliang_content_left font{color:#999999; font-size:12px; line-height:20px;}
.Aliang_content_left a{color:#6EAFD5;}
.Aliang_content_right{width:200px; float:right;height:100%; background-color:#B8ECEF; padding-bottom:10px;}
.Aliang_content_right li{ width:200px;float:right; line-height:25px; text-align:center; padding-top:5px;}
.Aliang_content_right p{text-align:left; background-image:url(../ZiLiang_images/right_bt_bg2.gif); line-height:30px; padding-left:10px; color:#0082CB;}
.Aliang_content_right h2{font-size:13px;background-image:url(../ZiLiang_images/right_bt_bg.gif); color:#FFFFFF; line-height:30px;}
.Aliang_content_right a{color:#0082CB;text-decoration: none;}
.Aliang_content_right a:hover{text-decoration: underline;color:#0082CB;}
.Aliang_clear{clear:both;height:0;font-size:1px;line-height:0px;}
.Aliang_bottom{width:800px; float:left; background-color:#9AE4E8; text-align:center;}
.Aliang_bottom li{ margin:auto; padding:5px; color:#0082CB;line-height:40px;}
